<div class="text-right" id={@id}>
  <div data-role="order-summary">
    <span class="text-lg font-bold">Total Amount</span>
    <span class="ml-2 text-2xl font-bold" data-role="order-total-price">
      $ 300
    </span>
  </div>
  <a href="/" class="inline-block cursor-pointer px-6 py-2 mt-6 rounded-full text-white btn-primary font-bold">
    Login to continue
  </a>
</div>
